* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --test-border: 2px solid red;
    --button-color: #81a09a;
    font-family: 'Roboto', sans-serif;
}
.background-img {
    width: 100vw;
}

.main_container {
    height: 100vh;
    display: flex;
    min-width: 800px;
}
/* left stuff */
.left_container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 3rem 5rem;
    flex-grow: 1;
}

.data_container {
    display: flex;
    margin-bottom: 2rem;
    gap: 30px;
}

.temp {
    font-size: 5rem;
}

.city {
    font-size: 2rem;
    font-weight: 800;
    display: flex;
    align-items: center;
}

.weather_icon {
    width: 3rem;
    filter: brightness(0) invert(1);
}

.right_container {
    padding-left: 50px;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, .45);
    background: rgba(0, 0, 0, 0.2);
    width: 40rem;
    backdrop-filter: blur(15px);
}

.search-container {
    height: 5rem;
    margin-bottom: 50px;
}

.search-input {
    
}

.search-button {
    cursor: pointer;
    border: none;
    width: 5rem;
    height: 5rem;
    background: var(--button-color);
    background-image: url('./imgs/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
}



